<%= form_for(@position, html: {multipart: true}) do |f| %>
  <ul>
  <% @position.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %> 
  </p>
    <%= f.submit %>
  </p>
<% end %>
