<ul>
    <li>
        <%= link_to "List of projects", projects_path, class: "" %>
    </li>
    <li>
        <%= link_to "Add a project", new_project_path, class: "" %>
    </li>
    <li>
        <%= link_to "List of skills", skills_path, class: "" %>
    </li>
    <li>
        <%= link_to "Add a skill", new_skill_path, class: "" %>
    </li>
    <li>
        <%= link_to "List of positions", positions_path, class: "" %>
    </li>
    <li>
        <%= link_to "Add a position", new_position_path, class: "" %>
    </li>
<ul>