<!DOCTYPE html>
<html>
  <head>
    <title>David Yao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" %>
    <%=javascript_include_tag "https://kit.fontawesome.com/d86848cfe0.js"  %> 
  </head>

  <body>
    <% if flash[:notice] %>
      <strong style="color: green;"><%= notice %></strong>
    <% end %>
    <%= yield %>

    <%=javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"  %>

    <script>
    
      $(document).ready(function() {
          $('.js-example-basic-multiple').select2();
      });

    </script>
  </body>
</html>
