<!DOCTYPE html>
<html>
  <head>
    <title>David Yao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=javascript_include_tag "https://kit.fontawesome.com/864d9aa920.js"  %> 
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" %>
  </head>

  <body>
    

    <%= yield %>

    <script>
        $('.link').hover(function() {
            $(this).find("a").css('color', 'rgb(61, 59, 60)');
        }, function() {
            // on mouseout, reset the background colour
            $(this).find("a").css('color', '#fff');
        });
    </script>
  </body>
</html>
